<a href="https://colab.research.google.com/github/Ali-Asgar-Lakdawala/Flight-Price-Prediction/blob/main/Flight_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importing dataset

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
train_df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/flight price project/data/train.xlsx')
train_df.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [24]:
test_df=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/flight price project/data/test.xlsx")
test_df.head()

             Airline Date_of_Journey  ... Total_Stops              Additional_Info
0        Jet Airways       6/06/2019  ...      1 stop                      No info
1             IndiGo      12/05/2019  ...      1 stop                      No info
2        Jet Airways      21/05/2019  ...      1 stop  In-flight meal not included
3  Multiple carriers      21/05/2019  ...      1 stop                      No info
4           Air Asia      24/06/2019  ...    non-stop                      No info

[5 rows x 10 columns]

In [25]:
train_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

Contains no one null value so we can drop those values

In [26]:
train_df.dropna(inplace = True)

In [27]:
train_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [28]:
test_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

does not contain any null values

# EDA

In [30]:
train_df['journey_day']=pd.to_datetime(train_df['Date_of_Journey']).dt.day
train_df['journey_month']=pd.to_datetime(train_df['Date_of_Journey']).dt.month
train_df=train_df.drop(columns='Date_of_Journey',axis=1)
train_df.head()

       Airline    Source Destination  ...  Price journey_day journey_month
0       IndiGo  Banglore   New Delhi  ...   3897          24             3
1    Air India   Kolkata    Banglore  ...   7662           5             1
2  Jet Airways     Delhi      Cochin  ...  13882           6             9
3       IndiGo   Kolkata    Banglore  ...   6218           5            12
4       IndiGo  Banglore   New Delhi  ...  13302           3             1

[5 rows x 12 columns]

In [36]:
train_df['Additional_Info'].value_counts()*100/train_df['Additional_Info'].value_counts().sum()

No info                         78.112713
In-flight meal not included     18.554578
No check-in baggage included     2.995694
1 Long layover                   0.177869
Change airports                  0.065531
Business class                   0.037446
No Info                          0.028085
Red-eye flight                   0.009362
1 Short layover                  0.009362
2 Long layover                   0.009362
Name: Additional_Info, dtype: float64

it contains more than 75 percent of no info we can drop this column, and route info can also be droped because it info is covered in no pf stops

In [37]:
train_df=train_df.drop(columns=['Additional_Info','Route'],axis=1)

In [40]:
train_df

           Airline    Source Destination  ... journey_month Dep_hour Dep_min
0           IndiGo  Banglore   New Delhi  ...             3       22      20
1        Air India   Kolkata    Banglore  ...             1        5      50
2      Jet Airways     Delhi      Cochin  ...             9        9      25
3           IndiGo   Kolkata    Banglore  ...            12       18       5
4           IndiGo  Banglore   New Delhi  ...             1       16      50
...            ...       ...         ...  ...           ...      ...     ...
10678     Air Asia   Kolkata    Banglore  ...             9       19      55
10679    Air India   Kolkata    Banglore  ...             4       20      45
10680  Jet Airways  Banglore       Delhi  ...             4        8      20
10681      Vistara  Banglore   New Delhi  ...             1       11      30
10682    Air India     Delhi      Cochin  ...             9       10      55

[10682 rows x 12 columns]

In [41]:
#lets convert the dep_time to hour and min
train_df['Dep_hour']=pd.to_datetime(train_df['Dep_Time']).dt.hour
train_df['Dep_min']=pd.to_datetime(train_df['Dep_Time']).dt.minute
train_df=train_df.drop(columns='Dep_Time',axis=1)
train_df.head()

       Airline    Source Destination  ... journey_month Dep_hour Dep_min
0       IndiGo  Banglore   New Delhi  ...             3       22      20
1    Air India   Kolkata    Banglore  ...             1        5      50
2  Jet Airways     Delhi      Cochin  ...             9        9      25
3       IndiGo   Kolkata    Banglore  ...            12       18       5
4       IndiGo  Banglore   New Delhi  ...             1       16      50

[5 rows x 11 columns]

In [43]:
#  converting arriival time to hour and min
train_df['Arrival_hour']=pd.to_datetime(train_df['Arrival_Time']).dt.hour
train_df['Arrival_min']=pd.to_datetime(train_df['Arrival_Time']).dt.minute
train_df=train_df.drop(columns='Arrival_Time',axis=1)
train_df.head()

       Airline    Source Destination  ... Dep_min Arrival_hour  Arrival_min
0       IndiGo  Banglore   New Delhi  ...      20            1           10
1    Air India   Kolkata    Banglore  ...      50           13           15
2  Jet Airways     Delhi      Cochin  ...      25            4           25
3       IndiGo   Kolkata    Banglore  ...       5           23           30
4       IndiGo  Banglore   New Delhi  ...      50           21           35

[5 rows x 12 columns]

In [44]:
# converting duration to hour and min
duration = list(train_df["Duration"])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:    # Check if duration contains only hour or mins
        if "h" in duration[i]:
            duration[i] = duration[i].strip() + " 0m"   # Adds 0 minute
        else:
            duration[i] = "0h " + duration[i]           # Adds 0 hour

duration_hours = []
duration_mins = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep = "h")[0]))    # Extract hours from duration
    duration_mins.append(int(duration[i].split(sep = "m")[0].split()[-1]))   # Extracts only minutes from duration

In [47]:
train_df["Duration_hours"] = duration_hours
train_df["Duration_mins"] = duration_mins
train_df=train_df.drop(columns='Duration',axis=1)
train_df.head()

       Airline    Source  ... Duration_hours Duration_mins
0       IndiGo  Banglore  ...              2            50
1    Air India   Kolkata  ...              7            25
2  Jet Airways     Delhi  ...             19             0
3       IndiGo   Kolkata  ...              5            25
4       IndiGo  Banglore  ...              4            45

[5 rows x 13 columns]

In [55]:
train_df.groupby(['Total_Stops'])['Price'].median()

Total_Stops
1 stop      10262
2 stops     12760
3 stops     12954
4 stops     17686
non-stop     4667
Name: Price, dtype: int64

In [56]:
# converting total_stops into ordinal data
# as higher the number of stops higher is the price 
train_df.replace({"non-stop": 0, "1 stop": 1, "2 stops": 2, "3 stops": 3, "4 stops": 4}, inplace = True)
train_df.head()

       Airline    Source  ... Duration_hours  Duration_mins
0       IndiGo  Banglore  ...              2             50
1    Air India   Kolkata  ...              7             25
2  Jet Airways     Delhi  ...             19              0
3       IndiGo   Kolkata  ...              5             25
4       IndiGo  Banglore  ...              4             45

[5 rows x 13 columns]

In [58]:
Airline = train_df[["Airline"]]
Airline = pd.get_dummies(Airline)
Airline.head()

   Airline_Air Asia  ...  Airline_Vistara Premium economy
0                 0  ...                                0
1                 0  ...                                0
2                 0  ...                                0
3                 0  ...                                0
4                 0  ...                                0

[5 rows x 12 columns]

In [59]:
Source = train_df[["Source"]]
Source = pd.get_dummies(Source)
Source.head()

   Source_Banglore  Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai
0                1               0             0               0              0
1                0               0             0               1              0
2                0               0             1               0              0
3                0               0             0               1              0
4                1               0             0               0              0

In [60]:
Destination = train_df[["Destination"]]
Destination = pd.get_dummies(Destination)
Destination.head()

   Destination_Banglore  ...  Destination_New Delhi
0                     0  ...                      1
1                     1  ...                      0
2                     0  ...                      0
3                     1  ...                      0
4                     0  ...                      1

[5 rows x 6 columns]

In [62]:
train_df = pd.concat([train_df, Airline, Source, Destination], axis = 1)
train_df.drop(["Airline", "Source", "Destination"], axis = 1, inplace = True)
train_df.head()

   Total_Stops  Price  ...  Destination_Kolkata  Destination_New Delhi
0            0   3897  ...                    0                      1
1            2   7662  ...                    0                      0
2            2  13882  ...                    0                      0
3            1   6218  ...                    0                      0
4            1  13302  ...                    0                      1

[5 rows x 33 columns]